<mat-toolbar>
    <span>Contries Api</span>
    <span class="cabecera-spacer"></span>
</mat-toolbar>

<mat-card class="principal">
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <section>
            <div class="btn-button-row">
                <input type="text" [(ngModel)]="busqueda" placeholder="¿Qué país desea consultar?">
                <button class="btnBuscar" mat-raised-button color="primary" (click)="onBuscarPais()">Buscar</button>
                <button class="btnBuscar" mat-raised-button color="Warn" (click)="onVerTodos()">Ver Todos</button>
            </div>
        </section>
        <mat-divider class="divider"></mat-divider>
        <mat-divider inset vertical></mat-divider>
        <div class="contenedor">
            <div *ngIf="losPaises !== undefined && !cargando">
                <app-datos-pais *ngFor="let elPais of losPaises" [resultadoPais]="elPais"></app-datos-pais>
            </div>
            <mat-progress-bar *ngIf="cargando" mode="query"></mat-progress-bar>
        </div>
    </mat-card-content>
</mat-card>

<router-outlet>
</router-outlet>